@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "avoqado";
  src: url("/avoqado/Avoqado.otf");
  font-weight: 400;
}

:root {
  --background: #05056a;
  --foreground: #ffffff;
}

body {
  color: var(--foreground);
  background: var(--background);
  @apply font-sourceSans3 !important;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
